<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"ั><img src="/assets/images/oo3.png" alt="Logo"style="width: 80px;" ></a>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/Pro">Products</a></li>
                        <li><a href="/Showpro">Product Details</a></li>
                        <li><a href="/Promo">Promotions &nbsp<h7><span class="label label-default">New</span></h7></a></li>
                        <li><a href="/Prog_helper_list">Infor</a></li>
                        <li><a href="/showProList">Show List Products</a></li>
                        <li><a href="/C_add_form">Stock</a></li>


                    </ul>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                    <form class="navbar-form navbar-right"  action="/action_page.php">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="search">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search"></span> Search </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </nav>

