<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<br><br><br>
<h1>CookKai Shopping</h1>
<p>NOT JUST A GAME, THIS IS BATTLE ROYALE PRODUCT:</p>

<center><br>
<form action="/postPro" method="POST">
    <table class="table table-bordered" style="width:60%"  >

        <tbody>
            <tr>
                <td style="background-color: #d9534f">รหัสสินค้า :</td>
                <td><input type="text" name="id" size="10" maxlength="8"></td>
            </tr>
            <tr>
                <td style="background-color: #ffe7e2">ชื่อสินค้า : </td>
                <td><input type="text" name="name" size="40" maxlength="40"></td>
            </tr>
            <tr>
                <td style="background-color: #d9534f">ประเภท : </td>
                <td><input type="text" name="type" size="20" maxlength="20" ></td>
            </tr>
            <tr>
                <td  style="background-color: #ffe7e2">ขนาด : </td>
                <td><input type="text" name="size" size="10" maxlength="10" ></td>
            </tr>
            <tr>
                <td style="background-color: #d9534f">ราคา : </td>
                <td><input type="number" name="price" size="10" maxlength="10" ></td>
            </tr>
            <tr>
                <td  style="background-color: #ffe7e2">จำนวน : </td>
                <td><input type="number" name="amount" size="10" maxlength="4" ></td>
            </tr>
        </tbody>
    </table>
        <input type="submit" value="Save" class="btn btn-primary" >
        <input type="reset" value="Cancel" class="btn btn-danger" >
</form></center>
<br><br><br>

    <div id="tour" style="background-color: #5e5e5e">
        <div class="container">
            <div class="row text-center slideanim">
                <div class="col-sm-12">
                    <div>
                        <img src="/assets/images/package.png">
                    </div>
                    <h1 class="text-center" style="color:white">BUY NOW</h1>
                    <p class="text-center" style="color:white">One digital download key for PLAYERUNKNOWN’S BATTLEGROUNDS</p>
                    <button type="button" class="btn btn-danger"><a href="http://buy.battlegroundsgame.com/" style="color:white">Buy Now ฿559.00</a></button>
                </div>
                <p style="color:white"># PLAYERUNKNOWN’S BATTLEGROUNDS is available on Steam. More info<br>
                # You need a Steam account to play PLAYERUNKNOWN’S BATTLEGROUNDS.<br>
                # To register the key and activate your game, log into your Steam account.</p><br><br><br>
            </div>
        </div>
    </div>
