@(content:Html)
<html lang="en">
    <head>
        <meta charset="UTF-8">
                <title> Cookkai.com </title>
        <link type="text/css " rel="stylesheets" href="/assets/stylesheets/bootstrap3/css/bootstrap.css">\
        <link href="../../public/stylesheets/bootstrap3/css/bootstrap.css">


    </head>
    <body>
        <div class="container-fluid ">

            <div class="row">
                <div class="col-md-12" style="background-color: #122b40">
                    @header_page()
                </div>
            </div>

                <div class="row">
                        <div class="col-md-12">
                            @content
                        </div>
                </div>
                    <div class="row">
                        <div class="col-md-12" style="background-color:#0f0f0f">
                            @location_page()
                        </div>
                    </div>
        </div>


    </body>
</html>