<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <br><br><br><br>

        <div class="container " >
            <div class="row">
                <div class="col-md-12" >
                    <font face="" size="80px" color="">Products</font><br><br>

                    <div class="col-md-3 column productbox" style="border:2px solid thistle;" >
                        <img src="/assets/images/1.png" class="img-responsive">
                        <div class="producttitle"><B>ปืนM416</B>&nbsp;&nbsp;<a href="#demo"  data-toggle="collapse">อ่านต่อ..</a>
                            <div id="demo" class="collapse">ปืนกลที่อาจจะไม่ยอดเยี่ยมเท่า SCAR แต่ก็ทดแทนด้วยอัตราการยิงที่เร็วมากและคงที่มากที่สุดดังนั้นหากตั้งเป้าว่าอยากจะยิงอะไรบางอย่างในระยะประมาณ 20 เมตรเลือกใช้ M416 จะดีกว่า
                            </div>
                        </div>
                            <div class="productprice">

                                <div class="pull-right">
                                <font face="" size="" color="#32cd32"> 300฿</font>
                                <div class="btn btn-danger btn-sm" role="button">BUY</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 column productbox" style="border:2px solid thistle;" >
                        <img src="/assets/images/2.png" class="img-responsive">
                        <div class="producttitle"><B>ปืนAKM</B>&nbsp;&nbsp;<a href="#demo1"  data-toggle="collapse">อ่านต่อ..</a>
                            <div id="demo1" class="collapse">เป็นปืนที่มีความแรงมากที่สุดในบรรดาปืนไรเฟิลจู่โจมแต่ละนัดที่เข้าเป้าสามารถจัดการศัตรูได้ง่ายๆแต่ถึงอย่างนั้นก็ต้องแลกด้วยแรงถีบปืนที่สูงและอัตราการยิงที่ค่อนข้างช้าและถ้าเปลี่ยนโหมดเป็นยิงออโต้จะยิงได้แย่มาก ดังนั้นเพื่อรีดประสิทธิภาพของมันควรยิงแบบทีละนัดในระยะประมาณ 20 เมตรจะเห็นผลมากที่สุดครับ
                            </div>
                        </div>
                            <div class="productprice">
                                <div class="pull-right">
                                    <font face="" size="" color="#32cd32"> 300฿</font>
                                        <div class="btn btn-danger btn-sm" role="button">BUY</div>
                                </div>
                            </div>
                    </div>


                    <div class="col-md-3 column productbox"  style="border:2px solid thistle;" >
                        <img src="/assets/images/3.png" class="img-responsive">
                        <div class="producttitle"><B>ปืนKRISS Vector</B>&nbsp;&nbsp;อ่านต่อ...</div>
                            <div class="productprice" >
                                <div class="pull-right">
                                    <font face="" size="" color="#32cd32"> 300฿</font>
                                        <div class="btn btn-danger btn-sm" role="button">BUY</div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" >
                    <div class="col-md-3 column productbox" style="border:2px solid thistle;" >
                        <img src="/assets/images/4.png" class="img-responsive">
                            <div class="producttitle"><B>ปืนSCAR-L</B>&nbsp;&nbsp;อ่านต่อ...</div>
                                <div class="productprice">
                                    <div class="pull-right">
                                        <font face="" size="" color="#32cd32"> 300฿</font>
                                        <div class="btn btn-danger btn-sm" role="button">BUY</div>

                                    </div>
                                </div>
                    </div>

                    <div class="col-md-3 column productbox" style="border:2px solid thistle;" >
                            <img src="/assets/images/5.png" class="img-responsive">
                            <div class="producttitle"><B>ปืนVSS</B>&nbsp;&nbsp;อ่านต่อ...</div>
                                <div class="productprice">
                                    <div class="pull-right">
                                        <font face="" size="" color="#32cd32"> 300฿</font>
                                        <div class="btn btn-danger btn-sm" role="button">BUY</div>
                                    </div>
                                </div>
                    </div>

                    <div class="col-md-3 column productbox"  style="border:2px solid thistle;" >
                        <img src="/assets/images/6.png" class="img-responsive">
                            <div class="producttitle"><B>ปืนกลเบา</B>&nbsp;&nbsp;อ่านต่อ...</div>
                                <div class="productprice" >
                                    <div class="pull-right">
                                        <font face="" size="" color="#32cd32"> 300฿</font>
                                            <div class="btn btn-danger btn-sm" role="button">BUY</div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
      <br><br>

    <center><div class="container">
        <ul class="pagination">
            <li class="active"><a href="/Pro">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div></center>
