@(cList:List[c])
<br><br><br>

            <table class="table table-bordered">
                <tr style="background-color: gainsboro">
                    <th> ชื่อสินค้า </th>
                    <th>ประเภทสินค้า </th>
                    <th>ราคาต่อหน่วย</th>
                    <th> จำนวนสินค้า </th>
                    <th> สี </th>
                    <th> ส่วนลด </th>
                    <th> ราคาสุทธิ </th>
                    <th> รายละเอียดสินค้า </th>
                    <th> ลายกระเป๋า </th>

                </tr>
                @for(pg<-cList){
                    <tr>
                        <td>@pg.getName()</td>
                        <td>@pg.getType</td>
                        <td>@pg.getPrice()</td>
                        <td>@pg.getAmount()</td>
                        <td>@pg.getColor()</td>
                        <td>@pg.getSale() %</td>
                        <td>@pg.getNetprice</td>
                        <td>@pg.getDetail</td>
                        <td>@pg.getPattern</td>
                        <td><img src="/assets/images/pubg/@pg.getPic()" class="img-thumbnail" width="100px"height="100px"></td>
                    </tr>
                }
                </table>

<br><br><br><br><br><br><br><br><br>

